<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="backbutton">
				<a href="homepage">
					<button>See all recipes</button>
				</a>
			</div>
			<img src="https://66.media.tumblr.com/4e82fa9adf240bd0540cf488232e384e/tumblr_pmy7g45QJj1smv45oo1_1280.png" alt="Noms logo" id="logo">
		</div>
		<div class="content">
			<div class="top-container">
				<div class="search-container">
					<form id="searchform">
						<input id="searchbox" type="text" placeholder="Search for recipes or dietary restrictions">
						<input type="submit"/>
					</form>
				</input>
				</div>
				<div class="recipe-header">

					<div class="small-recipes">
						<a id="foryou"><p>For your diet</p></a>
						<a id="favorites"><p>Favorite Recipes</p></a>
						<a id="completed"><p>Completed Recipes</p></a>
					</div>
				</div>
			</div>

			<div id="available-recipes">
				{{#each recipes}}
				<div id={{id}} class="recipe-list">
					<div class="recipe">
						<a class="recipe-link" id="{{id}}" href="recipe/{{id}}">
							<h3>
								{{name}}
							</h3>
							<img src={{imageURL}} class="img-responsive">
							<p>Difficulty: {{difficulty}}</p>
							<p>Time: {{time}}</p>
							{{#each tags}}
								<p>{{this}} </p>
							{{/each}}
						</a>
						<hr>
					</div>
				</div>
				{{/each}}
			</div>


		</div>
	</div>

	<div class="footer">
		<div class="buttons">
			<a href="homepage">
				<button > Home </button>
			</a>
			<a href="profile">
				<button> Profile </button>
			</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="/js/search_functionality.js"></script>
</body>
</html>
