<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="header">
			<h1>NOMS</h1>
		</div>
		<div class="content">
			<div class="top-container">
				<div class="search-container">
					<form action="search">
						<input type="text" placeholder="Search for recipes">
					</form>
				</input>
				</div>
				<div class="recipe-header">
					<div class="top-recipes">
						<a href="search">
							<p>This week's top recipes</p>
						</a>
					</div>
					<div class="small-recipes">
						<a href="search"><p>For you</p></a>
						<a href="search"><p>Favorites</p></a>
						<a href="search"><p>Completed</p></a>
					</div>
				</div>
			</div>

			{{#each recipes}}
			<div id={{id}} class="recipe-list">
				<div class="recipe">
					<a href="recipe/{{name}}">
					<h3>{{name}}</h3>
					<img src={{imageURL}} class="img-responsive">
					<p>Difficulty: {{difficulty}}</p>
					<p>Time: {{time}}</p>
					</a>
					<hr>
				</div>
			</div>
			{{/each}}

		</div>
	</div>
	<div class="footer">
		<div class="buttons">
			<a href="homepage">
				<button > Home </button>
			</a>
			<a href="profile">
				<button> Profile </button>
			</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
