<html>
<head>

<!-- Google Analytics Content Experiment code
<script>function utmx_section(){}function utmx(){}(function(){var
k='190719683-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script> -->
<!-- End of Google Analytics Content Experiment code -->


	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	{{#if viewAlt}}
			<link class="homepage-css" id="B" href="/css/homepage_B.css" rel="stylesheet">
		{{else}}
			<a href="homepage">
				<link class="homepage-css" id="A" href="/css/homepage.css" rel="stylesheet">
			</a>
		{{/if}}


		<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-135354601-1', 'auto');
	ga('send', 'pageview');
	</script>
<!-- End Google Analytics -->
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="backbutton">

				{{#if viewAlt}}
					<a href="homepage_B">
						<button><img class="back-button" src="https://img.icons8.com/ios/100/ffffff/left-filled.png"></button>
					</a>
				{{else}}
					<a href="homepage">
						<button><img class="back-button" src="https://img.icons8.com/ios/100/ffffff/left-filled.png"></button>
					</a>
				{{/if}}

			</div>
			<img src="https://66.media.tumblr.com/4e82fa9adf240bd0540cf488232e384e/tumblr_pmy7g45QJj1smv45oo1_1280.png" alt="Noms logo" id="logo">
		</div>
		<div class="content">
			<div class="top-container">
				<div class="search-container">
					{{#if viewAlt}}
						<form id="searchform">
							<input id="searchbox" type="text" placeholder="Search for recipes or dietary restrictions">
						</form>
						<form id="filterbutton">
							<button id="filter-dropdown">
								<div class="filter-button-text">
									<div>Filters</div><div>+</div></div>
							</button>
							<div class="filter-tooltip" id = "filter-tooltip">
								<div class="tooltip-rows">
									<div class="tooltip-flexbox">
										<h3>Dietary restriction </h3>
										<label for="all" class="side-label">None
											<input type="radio" name="radio" id="normal" checked="checked"></input>
										</label>
										<label for="all" class="side-label">Vegan
											<input type="radio" name="radio" id="vegan"></input>
										</label>
										<label for="all" class="side-label">Nut Free
											<input type="radio" name="radio" id="nutfree"></input>
										</label>
										<label for="all" class="side-label">Gluten Free
											<input type="radio" name="radio" id="glutenfree"></input>
										</label>
									</div>

									<div class="tooltip-flexbox">
										<h3>Recipe details</h3>
										<label for="all" class="side-label">All
											<input type="radio" name="radio2" id="all" checked="checked"></input>
										</label>
										<label for="all" class="side-label">Favorites
											<input type="radio" name="radio2" id="favorites"></input>
										</label>
										<label for="all" class="side-label">Recently Completed
											<input type="radio" name="radio2" id="completed"></input>
										</label>
										<label for="all" class="side-label">Easy
											<input type="radio" name="radio2" id="easy"></input>
										</label>
										<label for="all" class="side-label">Medium
											<input type="radio" name="radio2" id="medium"></input>
										</label>
										<label for="all" class="side-label">Hard
											<input type="radio" name="radio2" id="hard"></input>
										</label>
									</div>
								</div>
								<div>
									<button class="apply-filters" id="apply-filters">Apply Filters</button>
								</div>
							</div>
						</div>
						</form>
					{{else}}
						<form id="searchform">
							<input id="searchbox" type="text" placeholder="Search for recipes or dietary restrictions">
						</form>
					{{/if}}

				</input>
				</div>
				<div class="type-getter" id="{{type}}"></div>
				{{#if viewAlt}}
					<div class="version-getter" id="B"></div>
				{{else}}
					<div class="version-getter" id="A"></div>
				{{/if}}
				{{#if viewAlt}}

				{{else}}
				<div class="recipe-header">

					<div class="small-recipes">
						<a id="foryou"><img src="/images/icons8-4u.png" style="height:45%;width:26%;position:relative;top:17%;left:35%;"><p style="position: relative; top:-20%;">For Your Diet</p></a>

						<a id="favorites"><img src="/images/star-empty.png" style="height:35%;width:20%;position:relative;top:19%;left:40%;"><p style="position: relative; top:-13%;">Favorites</p></a>

						<a id="completed"><img style="height:40%;width:25%;position:relative;top:15%;left:40%;" src="https://img.icons8.com/ios/100/000000/kitchen.png"><p style="position: relative; top:-15%;">Completed</p></a>
					</div>
				</div>
			</div>
				{{/if}}

			<div class="available-recipes">
				{{#each recipes}}
				<div class="recipe">
						<a class="recipe-link" id="{{id}}" href="{{../version}}/recipe/{{id}}">
							<img src={{imageURL}} class="img-responsive recipe-img">
								 <h5>{{name}}</h5>
								 <div class="recipe-details">
									<p class="detail">
									<!-- WEIGHT ICON -->
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 224 224" class="svg-style">
										<g id="original-icon" fill="#666666"><path class="weight-icon"></path></g>
									</svg>
									{{difficulty}}
									</p>

									<p class="detail" id="time">
									<!-- TIME ICON -->
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 224 224" class="svg-style">
										<g fill="#666666"><path class="time-icon"></path></g>
									</svg>
									 {{time}}
									</p>
								 </div>
							 </a>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

	{{#if viewAlt}}
		{{> footer_B}}
	{{else}}
		{{> footer_A}}
	{{/if}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="/js/search_functionality.js"></script>
</body>
</html>
