<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	<div class="body">

		<div class="header-back">
			<a href="/homepage" class="back-button">back</a>
				<h1>{{recipeName}}</h1>
				<h1>{{recipe.time}}</h1>
		</div>


		<div class="info-content">
			<img src="{{recipe.imageURL}}"/>
		</div>
		<div class="start">
			<a href="{{recipe.id}}/1">
				<button> Start </button>
			</a>
		</div>
		<div class="lists">
			<div class="ingredients-content">
				<h3>Ingredients</h3>
				<div class="dropdown">
					<button class="dropbtn">Dietary Restrictions</button>
					<div id="myDropdown" class="dropdown-content">
						<a id="none" href="#">None</a>
						<a id="vegan">Vegan</a>
						<a id="nutfree" href="#">Nut free</a>
						<a id="glutfree" href="#">Gluten Free</a>
					</div>
				</div>
			</div>
			<ul class="ingredients">
			{{#each defaultIngredients}}
				<li>{{ingredient}}</li>
			{{/each}}
			</ul>
			<h3>Instructions</h3>
			<ol>
				{{#each instructions}}
				<li>{{instruction}}</li>
				{{/each}}
			</ol>
		</div>
		</div>
		<div class="footer">
			<div class="buttons">
				<a href="/homepage">
					<button > Home </button>
				</a>
				<a href="/profile">
					<button> Profile </button>
				</a>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/recipe.js"></script>

<!--
	<script>
		$.each($.parseJSON(recipe.ingredients, function(index, value) {
			//$("ul.ingredients").append("<li>value</li>")
			console.log(value)
		});
	</script>
	--->

</body>
</html>
