<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	<div class="body">
		<div class="header-back">
			{{#if viewAlt}}
				<a href="/homepage_B">
			{{else}}
				<a href="/homepage_A">
			{{/if}}
			<button><img class="back-button" src="https://img.icons8.com/ios/100/ffffff/left-filled.png"></button>
			</a>
				<h1>{{recipeName}}</h1>
				<a id="{{recipe.id}}" class="favorites-button">
					<img src="/images/star-empty.png" class="favorites-button"></img>
				</a>
		</div>

		<div class="info-content">
			<img src="{{recipe.imageURL}}"/>
		</div>
		<p>Time needed: {{recipe.time}}</p>
		<div class="start">
			<a id="start-button" href="{{recipe.id}}/normal/1"><button> Start </button></a>
		</div>
		<div class="lists">
			<div class="ingredients-content">
				<h3>Ingredients</h3>
				<div class="dropdown">
					<button class="dropbtn">Dietary Restrictions</button>
					<div id="myDropdown" class="dropdown-content">
						{{#each alternatives}}
						<a id="{{this}}" href="#">{{this}}</a>
						{{/each}}

					</div>
				</div>
			</div>
			<ul class="ingredients">
			{{#each defaultIngredients}}
				<li>{{ingredient}}</li>
			{{/each}}
			</ul>
			<h3>Instructions</h3>
			<ol class="instructions">
				{{#each instructions}}
				<li>{{instruction}}</li>
				{{/each}}
			</ol>
		</div>
		<div class="complete">
			<button id="complete-button"> Recipe Completed! </button>
		</div>
		</div>
		{{#if viewAlt}}
			{{> footer_B}}
		{{else}}
			{{> footer_A}}
		{{/if}}

	</div>


	<div class="id-getter" id="{{recipe.id}}"></div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/favorites.js"></script>
	<script src="/js/recipe.js"></script>

<!--
	<script>
		$.each($.parseJSON(recipe.ingredients, function(index, value) {
			//$("ul.ingredients").append("<li>value</li>")
			console.log(value)
		});
	</script>
	--->

</body>
</html>
