<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	<div class="body">
		<div class="header-back">
			<a href="/recipe" class="back-button">exit</a>
			<h1>Step {{step}}:{{instruction}}</h1>
		</div>
		<div class="info-content">
			<img src="{{recipe.imageURL}}"/>
		</div>
		<div class="start">
			<a href="{{nextUrl}}">
			<button>Next</button>
			</a>
		</div>
		<div class="lists">
			<div class="ingredients-content">
				<h3>Ingredients</h3>
				<div class="servings-container">
					<p>Serving size: </p>
					<select>
						<option>1/2</option>
						<option selected="selected">1</option>
					 	<option>2</option>
					  	<option>3</option>
					  	<option>4</option>
					</select>
				</div>
			</div>
			<ul>
				<li>4 eggs</li>
			</ul>
			<h3>Instructions</h3>
			<ol>
				<li>{{instruction}}</li>
			</ol>
		</div>
		</div>
		<div class="footer">
			<div class="buttons">
				<a href="{{prevUrl}}">
					<button > Previous </button>
				</a>
				<a href="/homepage">
					<button> Finish </button>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
