<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="body">
			<div class="header-back">
				<a href="/recipe/{{recipe.id}}" class="back-button">
					<img src="https://img.icons8.com/ios/100/ffffff/delete-sign-filled.png" style="height:25px; width: 25px; position: relative; top: 38%; left: -33%;">
				</a>
				<h1 style="position:relative; left: -20%;">Step {{step}}</h1>
			</div>
			<div class="info-content">
				<img src="{{recipe.imageURL}}"/>
			</div>
			<div class="lists">
				<h3>Instructions</h3>
				<ol>
					<li>{{instruction}}</li>
				</ol>
			</div>
		</div>
		<h4 class="steps-count">{{step}}/{{total-steps}}</h4>
		<div class="footer">
			<div class="buttons">
				<a href="{{prevUrl}}">
					<button>Previous</button>
				</a>
				<a href="{{nextUrl}}">
					<button>Next</button>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
